## Tuples

In [3]:
my_list = ['pop', "lock"," drop"]
my_tuple = ['pop', "lock"," drop"]

In [2]:
my_list

['pop', 'lock', ' drop']

In [5]:
my_tuple
type(my_tuple)

list

In [9]:
# pCheckout the methods
# my_tuple.TAB

In [10]:
villians = ['Poison Ivy', 'Joker', 'Penguin', 'Bane', 'Riddler']
pi = [3, 1, 4, 1, 5, 9]

In [11]:
# Transform a tuple to a list
new_list = list(pi)
new_list

[3, 1, 4, 1, 5, 9]

In [13]:
new_tuple = tuple(new_list)
new_tuple

(3, 1, 4, 1, 5, 9)

In [14]:
# Tuple
my_tup = (1, 2, 3, 4, 5)
for i in my_tup:
    print(i)

1
2
3
4
5

## Sets

### Venn

Sets  are list but without duplicate entries and unordered

In [15]:
names = ['Elmer', 'Dylan', 'Jan', 'Guillermo', 'Naomi']
names

['Elmer', 'Dylan', 'Jan', 'Guillermo', 'Naomi']

In [16]:
type(names)

list

In [19]:
empty_set1 = set({1,2,3})
empty_set2 = set({1,2,3})
# empty_set3 = set(1,2,3) # Type Error

In [21]:
empty_set1

{1, 2, 3}

In [22]:
empty_set2

{1, 2, 3}